{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(dimgrey, lightgrey);
}

header {
    background-image: linear-gradient(#333333, #444444);
    padding: 20px;
    text-align: center;
    color: white;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 20%;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    width: 90%;
    padding: 4%;
    background-image: linear-gradient(#777777, lightgrey);
}

section {
    display: -webkit-flex;
    display: flex;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    font-size: small;
    padding: 5px;
    width: 250px;
    float: right;
    background-image: linear-gradient(#666666, #777777);
}

@media (max-width: 600px) {
    nav, article, aside {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

video {
    height: auto;
}

.butov {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 18%;
    background-color: lightgray;
    color: black;
    border: 2px solid #008CBA;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #008CBA;
    cursor: pointer;
}

.butov:hover {
    background-color: #008CBA;
    color: white;
}

.app {
    position: relative;
    margin: 30px;
    margin-top: 10px;
    width: 80%;
    top: 0;
    left: 0;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #333333;
    color: white;
    font-size: 150%;
    opacity: 0.8;
}

#jpg1 {
    width:70%;
    opacity: 0;
    filter: alpha(opacity=40);
    float:left;
    border-style: solid;
    border-color: #333333;
}

#vid1 {
    position: absolute;
    width:70%;
    float:left;
    border-style: solid;
    border-color: #333333;
}

.ovladani {
    margin: 30px;
    padding: 30px;
    padding-top: 0px;
    margin-top: -20px;
    float:left;
    background-image: linear-gradient(#666666, #888888);
    width: 200px;
    border-style: solid;
    border-color: #333333;
}

.but {
    position: relative;
    margin: 30px;
    margin-bottom: 0px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.btn a{
    color: black;
}

.dropbtn {
    background-color: #79a7b6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.slidecontainer {
    width: 10px;
}

button {
    background-color: #79a7b6;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    width: 100%;
}

button:hover {background-color: #008CBA;}

.dropbtn:hover {background-color: #008CBA;}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #008CBA;}